<!-- <script type="text/javascript" src="/assets/utilities.js"></script> -->
<h1> What and Where?</h1>

<!--search field form to feed twitter_apps:-->
<form action= 'twitter_apps' method='GET' >
	<fieldset id = 'input-fieldset'>
    <div>
     Search Phrase:
     <input type="text" value='<%="#{@topics}"%>' name="keyword" style="width:350px;">
    </div>
    <p>query options: "exact phrase", flood OR damage (containing either flood or damage), flood damage (containing both flood and damage), <a href="https://dev.twitter.com/rest/public/search" target="_blank">more</a> </p>
    <div>
  	Address to search:
  	<input type="text" value='<%="#{@city_to_lookup}"%>' name="address" >
  	</div>
    
    <div>
      Search Radius:
      <span id="slider"></span>
      <script>

        $(function() {
          $( "#slider" ).slider({
            value: <%="#{@radius}"%>,
            min: 10,
            max: 2000,
            step: 10,
            slide: function( event, ui ) {
              $( "#radius" ).val(ui.value);
            }
          });

          $( "#radius" ).val( $( "#slider" ).slider( "value" ));
        });
      </script>
      <input type="number" value'<%="#{@radius}"%> miles' id="radius" name="radius" maxlength="10" readonly style="border:0;  width:65px;">
    </div>
  
    <br>
    <div>
      Optional Date Range:
      <class="texthover" title="Twitter only allows for searches up to 7 days ago." ><label for="from">from</label>
      <input type="text" id="from" name="from">
      <label for="to">to</label>
      <input type="text" id="to" name="to">
      <script>
      $(function() {
        $( "#from" ).datepicker({
          dateFormat: "yy-mm-dd",
          minDate: '-7d',
          maxDate: '-1d',
          defaultDate: "-1d",
          changeMonth: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#to" ).datepicker("option", "minDate", (selectedDate > defaultDate ? '0' : selectedDate));
          },
        });
        $( "#to" ).datepicker({
          dateFormat: "yy-mm-dd",
          defaultDate: "0",
          minDate: '-6d',
          maxDate: '0',
          changeMonth: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            //$( "#from" ).datepicker( "option", "maxDate", (selectedDate > defaultDate ? '-1d' : selectedDate) );
            $( "#from" ).datepicker( "option", "maxDate", selectedDate);
          }
        });

        // $("#slider").slider({ 
        //  min: 10,
        //  max: 2000,
        //  step: 10,
        //  //value: gon.radius
        //  //value: 100
        // });
      });           

      </script>
      <br>
      <input type="submit" value="Submit">
    </div>
  </fieldset>
</form>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<div id="image-reel"></div>

<div id ="table" style="height:200px;overflow:auto;width:100%">
  <table id="tweets-table">
    <thead id = "table-head">
      <tr>
        <th WIDTH = "3%">#</th>
        <th WIDTH = "8%">Date | Time</th>
        <th WIDTH = "6%">Location</th>
        <th WIDTH = "15%">Address</th>
        <th WIDTH = "68%">Tweet Message</th>
        <th colspan="20"></th>
      </tr>
    </thead>
    <tbody id = "table-body">
    </tbody>
  </table>
</div>

<script type="text/javascript">
////TODO:
//populate google map here


var twitterResponse = [];
<%# binding.pry %>
<%#//= link_to 'Send Thanks', new_invoice_email_path(@invoice, :type => "thanks") %>
$.getJSON('<%= get_tweets_path(:lat => @my_city.latitude, :lon => @my_city.longitude,
 :topic => @topics, :radius => @radius, :city => @my_city.name) %>', function(data) // Variable data contains the data we get from serverside
{
  twitterResponse = data;

  if(twitterResponse.count <2){
    alert("No tweets found!");
  }
  else
  {
    var script = document.createElement('script');
    script.type = 'text/javascript';

    //call initializeMap here
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' + 'libraries=places,visualization&'+'callback=initializeMap';
    document.body.appendChild(script);

    // //TODO: populate image reel div

    var imgReel = document.getElementById('image-reel');

    var tableBody = document.getElementById('table-body');

    for(i = 1; i < twitterResponse.length; i++)
    {
      //collect images
      if(twitterResponse[i].image_url.toString()!="")
      {
        //imgReel.append('<div class="image"><img src="' + twitterResponse[i].image_url + '""></img></div>');
        var elem = document.createElement("img");
        elem.src = twitterResponse[i].image_url;
        elem.className = "image";
        imgReel.appendChild(elem);
      }

      //build table with tweet info. Use two-color scheme
      var tr = document.createElement('TR');
      if(i % 2 == 0){ tr.className = "even";}
      else{ tr.className = "odd"; }

        var td = document.createElement('TD');
        //ID
        td.appendChild(document.createTextNode(i.toString()));
        //td.setAttribute('WIDTH', '30')
        tr.appendChild(td);
        
        //Date/Time
        td = document.createElement('TD');
        td.appendChild(document.createTextNode(twitterResponse[i].date_time));
        //td.setAttribute('WIDTH', '30')
        tr.appendChild(td);

        //Location
        var link = document.createElement("A");
        link.setAttribute('href','http://maps.google.com/?q=' + twitterResponse[i].latitute+ ',' + twitterResponse[i].longitude);
        link.setAttribute('target','_blank')
        link.text='open map'; 
        td = document.createElement('TD');
        td.appendChild(link);
        //td.setAttribute('WIDTH', '80')
        tr.appendChild(td);
        //Longitude 
        td = document.createElement('TD');
        td.appendChild(document.createTextNode(twitterResponse[i].latitute+','+twitterResponse[i].longitude));
        //td.setAttribute('WIDTH', '200')
        tr.appendChild(td);
        //message 
        td = document.createElement('TD');
        td.appendChild(document.createTextNode(twitterResponse[i].message));
        tr.appendChild(td);
      
        tableBody.appendChild(tr);
      } 
    }
  }); //end of twitterResponse collection


  </script>

