<!--Pseudo Code:
when typing address, 
  - autocomplete from DB (if city already exists)
when pressing submit:
  - check to see whether city exists (by address/ name)
    - if yes: grab lat/ lon from DB
    - if no: grab lat/ lon from Geocoder and add to DB. 
  - Then start Twitter process.
-->
  
<h1> What and Where?</h1>

<!--search field form to feed twitter_apps:-->
<form action= 'twitter_apps' method='GET' >
	<fieldset id = 'input-fieldset'>

    <div>
  	Address to search:
  	<input type="text" value='<%="#{@city_to_lookup}"%>' name="lookup" >
  	</div>

    <div>
    Radius:
    <input type="text" value='<%="#{@radius}"%>' name="radius" >
    </div>
    
    <div>
      Search Radius (miles):
      <span id="slider"></span>

      <input type="number" value'<%="#{@radius}"%>'id="radius" name="radius" maxlength="4" readonly style="border:0; color:#F90B6D; width:65px;">

      <script>

        $(function() {
          $( "#slider" ).slider({
            value: 100,
            slide: function( event, ui ) {
              $( "#radius" ).val(ui.value );
              //@radius = ui.value;
            }
          });
          $( "#radius" ).val( $( "#slider" ).slider( "value" ));
        });
      </script>
    </div>
  

  	<div>
  	 Search Phrase:
  	 <input type="text" value'<%="#{@topic}"%>' name="keyword">
    </div>
    <br>
    <div>
      Optional Date Range:
      <class="texthover" title="Twitter only allows for searches up to 7 days ago." ><label for="from">from</label>
      <input type="text" id="from" name="from">
      <label for="to">to</label>
      <input type="text" id="to" name="to">
      <br>
      <input type="submit" value="Submit">
    </div>
  </fieldset>
</form>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<div id="image-reel"></div>

<div id ="table" style="height:200px;overflow:auto;">
<table id="tweets-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Tweet Message</th>
      <th colspan="5"></th>
    </tr>
  </thead>
    <!--<tbody id = "table-body">
    </tbody>-->
  </table>
</div>

<script type="text/javascript">
////TODO:
//populate google map here



var twitterResponse = [];

$.getJSON('<%= get_tweets_path %>', function(data) // Variable data contains the data we get from serverside
{
  twitterResponse = data;

  if(twitterResponse.count <2){
    alert("No tweets found!");
  }
  else
  {
    var script = document.createElement('script');
    script.type = 'text/javascript';

    //call initializeMap here
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' + 'libraries=places,visualization&'+'callback=initializeMap';
    document.body.appendChild(script);

    // //TODO: populate image reel div

    var imgReel = document.getElementById('image-reel');
    var table = document.getElementById('table');
    var tableBody = document.createElement('TBODY');
    table.border = '1';
    table.appendChild(tableBody);

    for(i = 1; i < twitterResponse.length; i++)
    {
      //collect images
      if(twitterResponse[i].image_url.toString()!="")
      {
        //imgReel.append('<div class="image"><img src="' + twitterResponse[i].image_url + '""></img></div>');
        var elem = document.createElement("img");
        elem.src = twitterResponse[i].image_url;
        elem.className = "image";
        imgReel.appendChild(elem);
      }

      //build table with tweet info. Use two-color scheme
      var tr = document.createElement('TR');
      if(i % 2 == 0){ tr.className = "even";}
      else{ tr.className = "odd"; }

        var td = document.createElement('TD');
        //ID
        td.appendChild(document.createTextNode(i.toString()));
        tr.appendChild(td);
        //Latitude 
        td = document.createElement('TD');
        td.appendChild(document.createTextNode(twitterResponse[i].latitute));
        tr.appendChild(td);
        //Longitude 
        td = document.createElement('TD');
        td.appendChild(document.createTextNode(twitterResponse[i].longitude));
        tr.appendChild(td);
        //message 
        td = document.createElement('TD');
        td.appendChild(document.createTextNode(twitterResponse[i].message));
        tr.appendChild(td);
      
        tableBody.appendChild(tr);
      } 
    }
  }); //end of twitterResponse collection


  </script>


<p>the end</p>